.form-container {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: var(--background-light-grey);
  color: var(--text-darker);
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
}

.form-container a {
  color: var(--links);
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.section-form {
  width: 100%;
}
.section-form .error {
  color: var(--error);
}

.section-form .form-footer {
  display: flex;
  justify-content: space-between;
}

.section-form .section-title {
  text-align: center;
  margin-bottom: 2vh;
}

.form-button {
  background-color: var(--accent);
  color: var(--text-light);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1100px) {
  .section-form .hide {
    display: none;
  }
  .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .form-container {
    width: 80%;
  }
}

@media screen and (max-width: 403px) {
  .section-form .section-title {
    font-size: 30px;
  }
}
