:root {
  --links: #c56eff;
  --accent: #9a03ff;
  --accent-hovered: #a82dfa;
  --background-light: #e1e1e1;
  --background-dark: #3d3d3d;
  --background-grey: #686868;
  --background-light-grey: #dfdfdf;
  --headers-dark: #212121;
  --headers-light: #d0d0d0;
  --text-dark: #3d3d3d;
  --text-darker: #272727;
  --text-light: #eaeaea;
  --text-alt: #bababa;
  --discord: #5771dc;
  --discord-hovered: #6f86e2;
  --meteor-main: #cc0000;
  --meteor-alt: #a90404;
  --card1: #bebebe;
  --card2: #a0a0a0;
  --card3: #686868;
  --card4: #404040;
  --seasnail: #fff791;
  --error: #ff0000;
}

/* GLOBAL DEFAULT SETTING */
@font-face {
  font-family: "JetBrainsMono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "JetBrainsMono";
  word-spacing: -0.15em;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/* NAVBAR */

nav {
  font-size: 18px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1 !important;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--accent);
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.45);
}

.name {
  display: none;
  list-style: none;
  color: var(--text-light);
  font-weight: bolder;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .nav-links {
    width: 60%;
  }
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: var(--text-light);
}

.nav-links .nav-text {
  font-weight: bolder;
}

.nav-links a:hover {
  color: var(--text-alt);
}

.burger {
  display: none;
  align-items: center;
  cursor: pointer;
}

.burger div {
  width: 17px;
  height: 3px;
  margin: 2px;
  border-radius: 1px;
  background-color: var(--background-light);
  transition: all 0.3s ease;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--accent-hovered);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .name {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .lin1 {
  transform: rotate(45deg) translateY(7px);
}
.toggle .lin2 {
  opacity: 0;
}
.toggle .lin3 {
  transform: rotate(-45deg) translateY(-7px);
}

/* CONTENT CLASSES */

.section-body {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 900;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.section-desc {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 560;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.form-container {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: var(--background-light-grey);
  color: var(--text-darker);
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
}

.form-container a {
  color: var(--links);
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.section-form {
  width: 100%;
}
.section-form .error {
  color: var(--error);
}

.section-form .form-footer {
  display: flex;
  justify-content: space-between;
}

/* CARD CLASSES */

.card-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-outer {
  width: 50%;
  padding: 20px;
}

.card-inner {
  border: #00000000;
  border-style: solid;
  border-width: 1.5px;
  height: 100%;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
}

.card-inner:hover {
  border: var(--accent);
  border-style: solid;
  border-width: 1.5px;
}

.card-inner p {
  margin-top: 7px;
}

/* BUTTON CLASSES */

.button-container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.button-container .button {
  padding: 15px;
  align-items: center;
  text-align: center;
  border-radius: 35px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.form-button {
  background-color: var(--accent);
  color: var(--text-light);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-button:hover {
  opacity: 0.8;
}

/* FOOTER BEGINS */

#footer {
  background: var(--background-grey);
}

#footer .footer-body {
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

#footer .footer-body .footer-section {
  flex: 1;
  padding: 40px;
  color: var(--text-light);
}

#footer .footer-body .footer-section p {
  padding-top: 10px;
}

#footer .footer-body .footer-section a {
  color: var(--links);
}

#footer .footer-body .footer-section .button-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
}

#footer .footer-body .footer-section .button-container .button-outer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3px;
}

#footer .footer-body .footer-section .button-container .button-outer .button {
  background: var(--text-light);
  color: var(--text-dark);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
}

#footer .footer-bottom {
  background: var(--background-dark);
  color: var(--text-light);
  text-align: center;
  padding: 6px;
}

#footer .footer-bottom a {
  color: var(--seasnail);
}

/* FOOTER ENDS */

/* RESCALING FOR MOBILE */

@media screen and (max-width: 1150px) {
  #home .section-body .button-container {
    width: 40%;
  }
}

@media screen and (max-width: 1300px) {
  #footer .footer-body {
    width: 100%;
  }
  .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 1100px) {
  .card-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .card-outer {
    width: 100%;
    min-height: 150px;
  }
  .card-inner {
    padding: 25px;
  }
  .section-form .hide {
    display: none;
  }
  .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  #home .section-body .button-container {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .name {
    display: block;
  }
  .title-animation {
    width: 60%;
  }
  .section-desc {
    width: 80%;
  }
  #home .section-body p {
    width: 70%;
  }
  #home .section-body .button-container {
    width: 60%;
  }
  #client .section-body .section-desc {
    width: 80%;
  }
  #client .section-body .card-container .card-outer .card-inner p {
    font-size: 13px;
  }
  #client .section-body .card-container .card-outer .card-inner h1 {
    font-size: 20px;
  }
  .waves {
    height: 80px;
    min-height: 40px;
  }
  #server .section-body .section-desc {
    width: 80%;
  }
  #server .section-body .server-iframe {
    width: 100%;
  }
  #FAQ .section-body {
    width: 80%;
  }
  #changelog-container {
    width: 80%;
  }
  .form-container {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  #home .section-body .button-container {
    width: 80%;
  }
  #dev-team .section-body .card-container .card-outer .card-inner h1 {
    font-size: 20px;
  }
  #footer .footer-body .footer-section {
    padding: 20px;
    font-size: 13px;
  }
  #FAQ .section-body {
    width: 90%;
  }
  #changelog-container {
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  #home .section-body .button-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  #home .section-body .button-container #discord {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 403px) {
  .button {
    width: 100%;
  }
  .section-form .section-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 350px) {
  #home .section-body .button-container {
    width: 80%;
  }
}
