/* TITLE ANIMATION */

.title-animation {
  padding-right: 10px;
  margin: 0 auto;
  overflow: visible;
  animation: fill 0.5s ease forwards 3s;
  width: 30%;
}

.title-animation path:nth-child(1) {
  stroke-dasharray: 754.9266967773438px;
  stroke-dashoffset: 754.9266967773438px;
  animation: logoAnim 2s ease forwards;
  stroke-linecap: square;
}
.title-animation path:nth-child(2) {
  stroke-dasharray: 463.968017578125px;
  stroke-dashoffset: 463.968017578125px;
  animation: logoAnim 2s ease forwards 0.3s;
  stroke-linecap: square;
}
.title-animation path:nth-child(3) {
  stroke-dasharray: 336.6719970703125px;
  stroke-dashoffset: 336.6719970703125px;
  animation: logoAnim 2s ease forwards 0.6s;
  stroke-linecap: square;
}
.title-animation path:nth-child(4) {
  stroke-dasharray: 463.968017578125px;
  stroke-dashoffset: 463.968017578125px;
  animation: logoAnim 2s ease forwards 0.9s;
  stroke-linecap: square;
}
.title-animation path:nth-child(5) {
  stroke-dasharray: 549.067138671875px;
  stroke-dashoffset: 549.067138671875px;
  animation: logoAnim 3s ease forwards 1.5s;
  stroke-linecap: round;
}
.title-animation path:nth-child(6) {
  stroke-dasharray: 549.067138671875px;
  stroke-dashoffset: 549.067138671875px;
  animation: logoAnim 3s ease forwards 1.5s, fill-red 0.5s ease forwards 3s;
}

@keyframes logoAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--text-light);
  }
}

@keyframes fill-red {
  from {
    fill: transparent;
  }
  to {
    fill: var(--meteor-alt);
  }
}

/* WAVES */

.waves {
  position: relative;
  width: 100%;
  height: 20vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* HOME BEGINS */

#home {
  background-color: var(--background-dark);
  padding-top: 8vh;
}

#home .section-body {
  padding-top: 3vh;
  padding-bottom: 3vh;
  width: 70%;
  color: var(--text-light);
}

#home .section-body h3 {
  font-weight: 700;
  font-size: 35px;
}

#home .section-body p {
  font-weight: 550;
  font-size: 16px;
  color: var(--text-alt);
  margin: 0 auto;
  width: 40%;
}

/* TITLE ANIMATION */

#home .section-body .button-container {
  margin-top: 15px;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

#home .section-body .button-container #discord {
  color: var(--text-light);
  background-color: var(--discord);
}
#home .section-body .button-container #discord:hover {
  background-color: var(--discord-hovered);
}

#home .section-body .button-container #paypal {
  color: var(--text-light);
  background-color: var(--accent);
}
#home .section-body .button-container #paypal:hover {
  background-color: var(--accent-hovered);
}

/* HOME ENDS */
/* CLIENT BEGINS */

#client {
  background-color: var(--background-light);
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}

#client .section-body {
  width: 100%;
}

#client .section-body .section-title {
  padding-bottom: 0 !important;
}

#client .section-body .section-desc {
  width: 100%;
}

#client .section-body .download {
  font-size: 20px;
}

#client .section-body .download .button-container #download {
  color: var(--text-light);
  background-color: var(--meteor-alt);
}
#client .section-body .download .button-container #download:hover {
  background-color: var(--meteor-main);
}

#client .section-body .card-container .card-outer #GUI {
  background-color: var(--card1);
}

#client .section-body .card-container .card-outer #combat {
  background-color: var(--card2);
  color: var(--text-dark);
}

#client .section-body .card-container .card-outer #render {
  background-color: var(--card3);
  color: var(--text-alt);
}

#client .section-body .card-container .card-outer #utility {
  background-color: var(--card4);
  color: var(--text-light);
}

/* SERVER BEGINS */

#server {
  background-color: var(--background-dark);
  display: flex;
  justify-content: center;
}

#server .section-body {
  color: var(--text-light);
  width: 70%;
  text-align: center;
}

#server .section-body .section-title {
  padding-bottom: 0vh;
}

#server .section-body .section-desc {
  width: 50%;
}

#server .section-body .section-iframe {
  border: none;
  height: 90px;
  margin-bottom: 5vh;
  width: 50%;
}

#server .section-body .section-image-slider {
  overflow: hidden;
  margin-bottom: 5vh;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.693);
  border: var(--accent);
  border-style: solid;
}

#server .section-body .section-image-slider figure {
  position: relative;
  width: 700%;
  animation: 30s image-slide infinite;
}

#server .section-body .section-image-slider figure img {
  float: left;
  width: 14.2857142857%;
}

@keyframes image-slide {
  0% {
    left: 0;
  }
  12% {
    left: 0%;
  }
  16% {
    left: -100%;
  }
  26% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  44% {
    left: -300%;
  }
  48% {
    left: -300%;
  }
  58% {
    left: -300%;
  }
  62% {
    left: -400%;
  }
  72% {
    left: -400%;
  }
  76% {
    left: -500%;
  }
  86% {
    left: -500%;
  }
  90% {
    left: -600%;
  }
}

/* SERVER ENDS */
/* DEV-TEAM BEGINS */

#dev-team {
  background: back;
}

#dev-team .section-body {
  width: 90%;
  padding-bottom: 6vh;
}

#dev-team .section-body .card-container .card-outer .card-inner {
  background: var(--card2);
  color: var(--text-dark);
}

#dev-team .card-container .card-outer .card-inner .card-img {
  width: 70%;
  object-fit: cover;
  border-radius: 50%;
}

/* DEV-TEAM ENDS */
