:root {
  --links: #c56eff;
  --accent: #9a03ff;
  --accent-alt: #a82dfa;
  --background-light: #e1e1e1;
  --background-dark: #3d3d3d;
  --background-grey: #5f5f5f;
  --background-light-grey: #dfdfdf;
  --headers-dark: #212121;
  --headers-light: #d0d0d0;
  --text-dark: #3d3d3d;
  --text-darker: #272727;
  --text-light: #eaeaea;
  --text-alt: #bababa;
  --discord-hovered: #6f86e2;
  --meteor-main: #cc0000;
  --meteor-alt: #a90404;
  --card1: #bebebe;
  --card2: #a0a0a0;
  --card3: #686868;
  --card4: #404040;
  --seasnail: #fff791;
  --error: #ff0000;
  --discord: #7388da;
  --paypal: #026fba;
  --github: #242a2e;
  --youtube: #ff0201;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "JetBrainsMono";
  word-spacing: -0.15em;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
}
