/* GLOBAL DEFAULT SETTING */
@font-face {
  font-family: "JetBrainsMono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "JetBrainsMono";
  word-spacing: -0.15em;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/* NAVBAR */

nav {
  font-size: 18px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1 !important;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #9a03ff;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.45);
}

.name {
  display: none;
  list-style: none;
  color: #eaeaea;
  font-weight: bolder;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .nav-links {
    width: 60%;
  }
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #eaeaea;
}

.nav-links .nav-text {
  font-weight: bolder;
}

.nav-links a:hover {
  color: #bbbbbb;
}

.burger {
  display: none;
  align-items: center;
  cursor: pointer;
}

.burger div {
  width: 17px;
  height: 3px;
  margin: 2px;
  border-radius: 1px;
  background-color: #eaeaea;
  transition: all 0.3s ease;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #8106d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .name {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .lin1 {
  transform: rotate(45deg) translateY(7px);
}
.toggle .lin2 {
  opacity: 0;
}
.toggle .lin3 {
  transform: rotate(-45deg) translateY(-7px);
}

/* CONTENT CLASSES */

.section-body {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  text-align: center;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 900;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.section-desc {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: 560;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

/* CARD CLASSES */

.card-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-outer {
  width: 50%;
  padding: 20px;
}

.card-inner {
  border: #00000000;
  border-style: solid;
  border-width: 1.5px;
  height: 100%;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
}

.card-inner:hover {
  border: #9a03ff;
  border-style: solid;
  border-width: 1.5px;
}

.card-inner p {
  margin-top: 7px;
}

/* BUTTON CLASSES */

.button-container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.button-container .button {
  padding: 15px;
  align-items: center;
  text-align: center;
  border-radius: 35px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}
