body {
    background-color: var(--background-light);
    margin-top: 8vh;
}

input {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.footer {
    position: absolute !important;
    width: 100% !important;
    bottom: 0;
    text-align: center;
    background: var(--background-dark);
    color: var(--text-light);
    padding: 1vh;
}

.remove {
    color: red;
}

.card-container {
    background-color: var(--meteor-main);
    display: flex;
    justify-content: center;
}
.card-outer {
    width: 65% !important;
}

#discord-accounts {
    padding: 35px;
    background-color: var(--discord);
    color: var(--text-light);
    align-items: center;
}

#discord-accounts h1 {
    text-align: center;
    margin-bottom: 1vh;
}

#discord-accounts p {
    margin-bottom: 2vh;
}
