body {
  margin-top: 8vh;
}

#FAQ {
  background-color: var(--background-light);
}

#FAQ .section-body {
  color: var(--text-dark);
  text-align: left;
  width: 60%;
}

#FAQ .faq-section {
  border: var(--accent) 3px solid;
  margin: 1vh;
  padding: 10px;
}

.faq-section h3 {
  margin-bottom: 10px;
}

.faq-section ol {
  margin-left: 30px;
}

.faq-section a {
  color: var(--links);
}

#main-title {
  padding-top: 3vh;
  padding-bottom: 10px;
}

#main-desc {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 0vh;
}

.lower {
  padding-bottom: 3vh;
}

#changelog {
  background-color: var(--background-grey);
  color: var(--text-light);
}

#changelog #changelog-list {
  list-style: square;
  padding-left: 3vh;
  text-align: left;
  padding-bottom: 3vh;
}

#changelog-container {
  margin: 0 auto;
  width: 60%;
}

@media screen and (max-width: 700px) {
  #FAQ .section-body {
    width: 80%;
  }
  #changelog-container {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  #FAQ .section-body {
    width: 90%;
  }
  #changelog-container {
    width: 90%;
  }
}
