body {
  background-color: var(--background-light);
}

.form-container {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: var(--background-light-grey);
  color: var(--text-darker);
  box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.25);
}

.form-container a {
  color: var(--links);
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.section-form {
  width: 100%;
}
.section-form .error {
  color: var(--error);
}

.section-form .form-footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: absolute !important;
  width: 100% !important;
  bottom: 0;
  text-align: center;
  background: var(--background-dark);
  color: var(--text-light);
  padding: 1vh;
}