<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Meteor Development | Change Email</title>
    <!--Discord Meta-->
    <meta name="og:site_name" content="Meteor Development">
    <meta name="og:type" content="object">
    <meta name="og:image" content="https://raw.githubusercontent.com/MeteorDevelopment/meteor-server/master/src/main/resources/public/icon.png">
    <meta name="og:title" content="Login">
    <meta name="og:url" content="https://meteorclient.com/login">
    <meta name="theme-color" content="#cc0000">
    <meta name="og:description" content="The website of the Meteor Development group. Made by seasnail8169.">
    <!--Other Meta-->
    <meta name="keywords" content="Minecraft, Minecraft, utility, mod, utility mod, client, utility client, Utility Mod, Utility Client, Mod, Utility, Client, Minecraft utility mod, Minecraft utility mod, Meteor, meteor, Meteor Client, meteor client, Meteor utlity mod, meteor utility mod">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Stylesheets-->
    <script src="https://kit.fontawesome.com/d5536945b2.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/css/defaults.css"/>
    <link rel="stylesheet" href="/css/other.css"/>
  </head>

  <body>
    <div class="form-container">
      <div class="section-form">
        <form action="/changeEmail" method="post">
          <h2 class="section-title">Change Email</h2>

          <label for="email" class="form-label"><b>New Email</b></label>
          <input type="text" placeholder="New Email" id="email" name="email" required autofocus>

          #if($error)
            <p class="error">$error</p>
          #end

          <button type="submit" class="form-button">Change</button>
        </form>
      </div>
    </div>
  </body>

</html>