<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Stylesheets-->
    <script src="https://kit.fontawesome.com/d5536945b2.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/elements/footer.css"/>
    <link rel="stylesheet" href="/css/pages/other.css"/>
    <link rel="stylesheet" href="/css/elements/form.css"/>
  </head>

  <body>
    <div class="form-container">
      <div class="section-form">
        <h2 class="section-title">Confirm Email</h2>

        <p class="section-body">We've sent an email to your email address.</p>

        <button class="form-button" onclick="login()">$redirectName</button>
      </div>
    </div>
    <div class="footer">
      <div class="footer-sec-1">Copyright &copy; 2019 - 2021 meteorclient.com | All Rights Reserved.</div>
      <div class="footer-sec-3">Designed by <a href="https://github.com/seasnail8169" target="_blank">seasnail8169</a>.</div>
    </div>
    <script>
      function login() {
        window.location.href = "$redirectTo"
      }
    </script>
  </body>
</html>