<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Meteor Client</title>
    <meta name="description" content="Minecraft utility mod">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/faq.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light text-center">Changelog</h1>
      <p class="text wow text-center">Version $version.</p>
      <ul>
        #foreach($change in $changelog)
          <li>$change</li>
        #end
			</ul>
      
      <h1 class="font-weight-light text-center">Faq</h1>
      <br>
      <h2 class="font-weight-light">How to install</h2>
      <ul style="list-style-type: decimal; padding-left: 20px;">
      	<li>Download and install <a href="https://fabricmc.net" target="_blank">Fabric</a>.</li>
      	<li>Download meteor from <a href="https://meteorclient.com">this</a> website.</li>
      	<li>Extract the .zip file and put the jar inside the mods folder.</li>
      	<li>Meteor needs <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-api" target="_blank">Fabric API</a>, so download it for the version you want to run and put it in your mods folder.</li>
      </ul>

      <br>
      <h2 class="font-weight-light">Older versions</h2>
      <p>If you want to connect to an older server you can use <a href="https://www.curseforge.com/minecraft/mc-mods/multiconnect" target="_blank">multiconnect</a>.</p>
    </div>
  </div>
</div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>